.login-container {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  text-align: center;
}

.login-container h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.login-logo {
  width: 60%;
  max-width: 400px;
  margin-bottom: 2rem;
}

.login-description {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}
